.lessons-partOne-container{
  /*  display: flex;
    justify-content: center;
    text-align: center;
    height: 40rem;
    width: 50rem;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 50rem;
    margin-left: -15rem;
    margin-top: -5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

