.part-three-container{
    position: relative;
    height: 30rem;
    width: 25rem;
    top: 25rem;
    margin-top: -22rem;
    border-radius: 4PX;
    box-shadow: 1px 1px 4px 4px rgb(123, 126, 151);
    background-color: #a3b108;
}