.part-seven-container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container{
    
}
.part-seven-container p {
    white-space: pre-line;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: larger;
    line-height: 2;
    font-size: 2em;
    position: absolute;
    right: 5rem;
  }
  .audio-button{
    align-self: flex-start;
    position: relative;
    top: 3rem;
  }