.part-four-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin-top: 150px;
  background-color: black;
  margin-top: -40.2rem;
  }
  .bedeutung-container{
    display: flex;
    color: white;
    justify-content: center;
  }
  .wrong-answer {
    background-color: red;
  }
  .game-over{
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-left: -12px;
  }
  .gam-over-button{
    padding: 25px 30px;
    background-color: #050801;
    color: #0ddee9;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .gam-over-button:hover{
    font-size: large;
      background: #066d72;
      color: #050801;
      box-shadow: 0 0 5px #03e9f4,
                  0 0 25px #03e9f4,
                  0 0 50px #03e9f4,
                  0 0 200px #03e9f4;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  
  .hallo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 7rem;
    height: 2.5rem;
    background-color: #063906;
    color: #76c106;
    box-shadow: rgb(188, 233, 24) 0.5px 0.5px 5px;
    transition: all 0.5s ease-out;
    cursor: pointer;
    border-radius: 70%;
    font-size: 1.8vw;
  }
  .gutenMorgen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 10rem;
    height: 3.5rem;
    background-color: #525151;
    color: #9c8f8f;
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(158, 158, 146) 0.9px 0.9px 7px;
    cursor: pointer;
    font-size: 1.3vw;
  }
  .gutenTag{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 9rem;
    height: 3.5rem;
    background-color: #3d3c3c;
    color: #a7a3a3;
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(140, 140, 136) 0.9px 0.9px 7px;
    cursor: pointer;
    font-size: 1.3vw;
  }
  .gutenAbend{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 9rem;
    height: 3rem;
    background-color: #3a3737;
    color: hsl(0, 0%, 48%);
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(146, 146, 137) 0.9px 0.9px 7px;
    cursor: pointer;
    font-size: 1.3vw;
  }
  .aufWiedersehen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }
  .WieGehtsIhnen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }
  .ichHeiß{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }
  .ichHeißAli{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }
  .wieHeißenSie{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-size: 20px;
    border-radius: 50%;
    background-color: #6d6e70;
    width: 10rem;
    height: 3rem;
    opacity: .8;
    cursor: pointer;
    transition: all 0.8s ease-out;
  }
  