.part-sex-container{
    position: fixed;
    top: 0rem;
    width: -webkit-fill-available;
    height: 100vh;
    border: 2px blue solid;
    background-color: antiquewhite;
}
.draggable-div{
border: 2px green solid;
width: 70px;

}

.icon-container{
        display: flex;
        justify-content: center;
        align-items: end;
}
.tag{
    width: 70px;
    height: 70px;
    background-color: aquamarine;
}
.hallo-h{
    width: 70px;
    height: 70px;
    background-color: aquamarine;
}
.morgen{
    width: 70px;
    height: 70px;
    margin-left: 15px;
    background-color: rgb(67, 67, 67);
}

.matched{
background-color: rgb(255, 3, 3);
}