.part-tow-container{
    z-index: 1;
    background-color: #191970 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.elements-container{
    justify-content: center;
    text-align: center;
}
.image-container{
    margin-top: 50px;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 1px 1px 9px 1px rgb(215, 215, 29);
}
.word-container{
    margin: 0 auto ;
    background-color: white;
    width: 20rem;
    height: 5rem;
    border-radius: 20px;
}


/* buttons design*/
.part-tow-buttons{
    font-size: 25px;
    width: 8em;
    height: 2em;
    color: orange;
    border-left: 0.08em solid;
    margin-top: 3em;
    cursor: pointer;
    margin-left: 50px;
}
.part-tow-buttons::before,
.part-tow-buttons::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}
.part-tow-buttons::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}
.part-tow-buttons::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}
.part-tow-buttons .part-tow-next-button {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}
.part-tow-buttons:hover .part-tow-next-button {
    transform: translateX(0.15em);
}
.part-tow-buttons .part-tow-prev-button{
    color: aliceblue;
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}
.part-tow-buttons:hover .part-tow-prev-button {
    transform: translateX(0.15em);
}

/*quiz button*/
.quiz-button{
    font-size: 25px;
    width: 8em;
    height: 2em;
    color: orange;
    border-left: 0.08em solid;
    position: relative;
    cursor: pointer;
    top: 2rem;
    margin-left: 50px;
    right: 7px;
}