.part-four-container {
  position: absolute;
  width: 100%;
  height: -webkit-fill-available;
  border: 1px solid black;
  background-color: black;
  }
  /***
   position: relative;
  width: 100%;
  height: -webkit-fill-available;
  border: 1px solid black;
  margin-top: 150px;
  background-color: black;
  margin-top: -40.2rem;
  
  */
  .bedeutung-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    width: 15rem;
    height: 3.5rem;
    background-color: #fff9f9;
    color: #083f0b;
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(76, 76, 5) 0.9px 0.9px 7px;
    font-size: 1.5vw;
    font-weight: bolder;
  }
  .word-space{
   text-align: center;
    height: 90%;
  }
  .word-center {
    display: inline-block;
    text-align: center;
  }
  
  .wrong-answer {
    background-color: red;
  }
  .gam{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    top: 5rem;
}
  
  .game-over{
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-left: -12px;
    color: #0ddee9;
  }
  .gam-over-button{
    padding: 25px 30px;
    background-color: #050801;
    color: #0ddee9;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    width: 300px;

  }
  
  .gam-over-button:hover{
    font-size: large;
      background: #066d72;
      color: #050801;
      box-shadow: 0 0 5px #03e9f4,
                  0 0 25px #03e9f4,
                  0 0 50px #03e9f4,
                  0 0 200px #03e9f4;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }

  .render-part-five{
    background-color: #03e9f4;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25rem;
    left: 38rem;
    width: 300px;
    
  }
  
  .hallo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 7rem;
    height: 2.5rem;
    background-color: #063906;
    color: #76c106;
    box-shadow: rgb(188, 233, 24) 0.5px 0.5px 5px;
    transition: all 0.8s ease-out;
    cursor: pointer;
    border-radius: 70%;
    font-size: 1.8vw;
    font-weight: bolder;
  }
  .gutenMorgen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 11rem;
    height: 3.5rem;
    background-color: #3a3737;
    color: #9c8f8f;
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(158, 158, 146) 0.9px 0.9px 7px;
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: bolder;
  }
  .gutenTag{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 9rem;
    height: 3.5rem;
    background-color: #3a3737;
    color: #a7a3a3;
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(140, 140, 136) 0.9px 0.9px 7px;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: bolder;
  }
  .gutenAbend{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 11rem;
    height: 4rem;
    background-color: #3a3737;
    color: hsl(0, 0%, 48%);
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(146, 146, 137) 0.9px 0.9px 7px;
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: bolder;
  }
  .aufWiedersehen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 11.3rem;
    height: 4rem;
    background-color: #3a3737;
    color: hsl(0, 0%, 48%);
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(146, 146, 137) 0.9px 0.9px 7px;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: bolder;
  }
  .WieGehtsIhnen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 11.9rem;
    height: 3rem;
    background-color: #3a3737;
    color: hsl(0, 2%, 56%);
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(146, 146, 137) 0.9px 0.9px 7px;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: bolder;
  }
  .ichHeiß{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 9rem;
    height: 3rem;
    background-color: #002db3;
    color: hsl(232, 81%, 68%);
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(77, 102, 242) 0.9px 0.9px 7px;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: bolder;
  }
  .ichHeißAli{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 9rem;
    height: 3rem;
    background-color: #002db3;
    color: hsl(232, 81%, 68%);
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(77, 102, 242) 0.9px 0.9px 7px;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: bolder;
  }
  .wieHeißenSie{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 11rem;
    height: 3rem;
    background-color: #002db3;
    color: hsl(232, 81%, 68%);
    transition: all 0.8s ease-out;
    border-radius: 50%;
    box-shadow: rgb(77, 102, 242) 0.9px 0.9px 7px;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: bolder;
  }
  