.part-four-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin-top: 150px;
  background-color: black;
  margin-top: -40.2rem;
  }
  .bedeutung-container{
    display: flex;
    color: white;
    justify-content: center;
  }
  .wrong-answer {
    background-color: red;
  }
  .game-over{
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-left: -12px;
  }
  .gam-over-button{
    padding: 25px 30px;
    background-color: #050801;
    color: #0ddee9;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .gam-over-button:hover{
    font-size: large;
      background: #066d72;
      color: #050801;
      box-shadow: 0 0 5px #03e9f4,
                  0 0 25px #03e9f4,
                  0 0 50px #03e9f4,
                  0 0 200px #03e9f4;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  
  .hallo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
    color: blanchedalmond;
    transition: all 0.5s ease-out;
    border-radius: 45%;
    cursor: pointer;
  }
  .gutenMorgen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }
  .gutenTag{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }
  .gutenAbend{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }
  .aufWiedersehen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }
  .WieGehtsIhnen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }
  .ichHeiß{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }
  .ichHeißAli{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }
  .wieHeißenSie{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 98);
    color: rgb(238, 207, 160);
    transition: all 0.8s ease-out;
    border-radius: 45%;
    font-size: 10px;
    box-shadow: rgb(85, 3, 3) 0.5px 0.5px 5px;
    cursor: pointer;
  }