.part-three-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90rem;
    border-radius: 4PX;
    box-shadow: 1px 1px 4px 4px rgb(123, 126, 151);
    background-color: #a3b108;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}