.part-fieve-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    border: 2px rgb(88, 6, 6) solid;
    width: 100%;
    height: 100%;
    margin-top: -11.8rem;
    background-color: #002db3;
}
.wor-play-container{
    width: 35rem;
    height: 30rem;
    box-shadow: 16px 14px 20px #1c04738c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
}
.audio-word{
    position: relative;
    bottom: 3rem;
    box-shadow: rgba(165, 194, 3, 0.4) 5px 5px, rgba(145, 5, 94, 0.3) 10px 10px, rgba(46, 185, 240, 0.2) 15px 15px, rgba(246, 4, 72, 0.1) 20px 20px, rgba(4, 254, 62, 0.05) 25px 25px;
    font-size: 4rem;
}
.audio-play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
  
    &.paused {
      border-style: double;
      border-width: 0px 0 0px 60px;
    }
  
    &:hover {
      border-color: transparent transparent transparent #02683a;
    }
   .abspielen{
        position: relative;
    right: 2rem;
    font-size: 0.8rem;
   }
   
  }
  .audio-next-button{
    font-size: 25px;
  width: 8em;
  height: 2em;
  color: orange;
  border-left: 0.08em solid;
  position: relative;
  margin-top: 0.8em;
  cursor: pointer;
      top: 1rem;
      margin-left: 50px;
      right: 20px;
  }
  .audio-next-button::before,
  .audio-next-button::after
  {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
  }
  .audio-next-button::before{
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
  }
  .audio-next-button::after{
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
  }
  .audio-next-button .audio-next-button1{
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
  }
  .audio-next-button:hover .audio-next-button1{
    transform: translateX(0.15em);
  }